$button_gutter_width: 1rem;

a.call_to_action {
  display: block;
  padding: calc(#{$base_line_height * 0.5} - 2px) $button_gutter_width;
  text-decoration: none;
  border-radius: 5px;

  @include set_font_size(1);
  background-color: $link_color;
  color: #fff;
  font-weight: bold;
}