$button_gutter_width: 1rem;

a.call_to_action {
  display: block;
  padding: calc(#{$base_line_height * 0.5} - 2px) $button_gutter_width;
  text-decoration: none;
  border-radius: 5px;

  font-family: "Limelight", "Helvetica", sans-serif;
  @include set_font_size(1);
  text-align: center;

  background-color: $link_color;
  color: #fff;
}