@use "../colors";
@use "../functions";

// ==============
// Flash message
// ==============

#flash_messages div {
  padding: functions.$base_line_height 1em;
  margin-bottom: functions.$base_line_height;
  text-align: center;

  &.notice {
    color: colors.$flash_notice_color;
    background-color: colors.$flash_notice_background_color;
  }

  &.info {
    color: colors.$flash_info_color;
    background-color: colors.$flash_info_background_color;
  }

  &.alert {
    color: colors.$flash_alert_color;
    background-color: colors.$flash_alert_background_color;
  }

  & + div {
    margin-top: functions.$base_line_height * -1;
  }
}
