%h4 About Mixologi.st

%p There are many cocktails in the world. So many of them are terrible: unbalanced, too sweet, and/or too weird. Classic cocktails are very often better. This site is a collection of deliciousness, curated and built by <a href="https://foliosus.com" target="_blank">Brent Miller</a> <a href="https://linkedin.com/in/foliosus" target="_blank">#{Icon.new(:linkedin)}</a> <a href="https://github.com/foliosus" target="_blank">#{Icon.new(:github)}</a>.

%p Many thanks to <a href="https://jeffreymorgenthaler.com/" target="_blank">Jeffrey Morgenthaler</a> and <a href="https://www.amazon.com/gp/product/145211384X" target="_blank">his book</a>, <a href="https://en.wikipedia.org/wiki/Gary_Regan" target="_blank">Gary Regan</a> and <a href="https://www.amazon.com/Joy-Mixology-Revised-Updated-Consummate/dp/0451499026/" target="_blank">his book</a>, and especially to <a href="https://www.diffordsguide.com/encyclopedia/2674/people/ted-haigh">Ted &quot;Dr. Cocktail&quot; Haigh</a>, and <a href="https://www.amazon.com/Vintage-Spirits-Forgotten-Cocktails-Alamagoozlum/dp/1592535615" target="_blank">his book</a>, which got Brent started on his cocktail journey.

%p Logo line art designed by <a href="https://www.freepik.com/free-vector/restaurant-logo-template_47617791.htm" target="_blank">Freepik</a>.