%ul
  - [:cocktails, :garnishes, :ingredients, :ingredient_categories, :units].each do |thing|
    - path = send("#{thing}_path")
    %li{class: current_page?(path) ? 'current' : nil}
      = link_to thing.to_s.humanize, path
